<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ellie Odau — Resume</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="hobbies.html">Hobbies</a>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
                </li>
            </ul>
            </div>
            <div class="d-flex">
                <i class="fas fa-heart" style="color: hotpink"></i>
            </div>
        </div>
    </nav>
    <div class="container">
<br>
        <button>Download PDF</button>
</a> <br><br>

  <h1>Ellie Odau - Resume</h1>
            <a href="../resources/resume.pdf" target="_blank" download="filename.pdf">
  <p>Parker, CO<br>
  ellie.odau@icloud.com<br>
  303-591-1417<br>
  <a href="https://www.linkedin.com/in/ellie-odau/">linkedin.com/in/ellie-odau</a></p>

  <h2>Education</h2>
  <p><b>University of Colorado Boulder - College of Engineering and Applied Science</b><br>
  BS, Computer Science; BS, Creative Technology and Design<br>
  Expected graduation: May 2028<br>
  GPA: 3.92</p>

  <h2>Honors & Awards</h2>
  <ul>
    <li>Horace M. Hale Scholarship</li>
    <li>Society of Women Engineers Scholarship</li>
    <li>BOLD Scholarship</li>
    <li>Engineering Honors Program</li>
    <li>Engineering Fellows</li>
    <li>Dean’s List, Fall 2024</li>
  </ul>

  <h2>Experience</h2>
  <p><b>Canine Companions for Independence - Midwest Region</b><br>
  Puppy Sitter, June 2023 - Present</p>
  <ul>
    <li>Assist in the care and training of service dogs, requiring patience, responsibility, and attention to detail</li>
    <li>Develop strong interpersonal and teamwork skills through collaboration with other volunteers and trainers</li>
  </ul>

  <p><b>Fostering Love Rescues - Larkspur, CO</b><br>
  Volunteer, Aug 2023 - Dec 2023</p>
  <ul>
    <li>Provided compassionate care for rescue animals, including horses, goats, dogs, and a donkey, ensuring their well-being
through feeding, grooming, and exercise</li>
    <li>Assisted with facility upkeep and maintenance, contributing to a safe and welcoming environment for animals and visitors</li>
  </ul>

  <p><b>Parker Adventist Hospital - Parker, CO</b><br>
  Information Desk Volunteer, Aug 2022 - Mar 2023</p>
  <ul>
    <li>Provided directions and assistance to patients and visitors, demonstrating strong customer service skills</li>
    <li>Communicated effectively with patients, families, and hospital staff in a professional environment</li>
    <li>Maintained a professional and organized information desk area</li>
  </ul>

  <h2>Activities</h2>
  <p><b>Freelance Writer & Artist</b><br>
  2020 – Present</p>
  <ul>
    <li>Write and edit books, showcasing creativity, attention to detail, and time management</li>
    <li>Create digital and traditional artwork, demonstrating artistic skills and adaptability to different mediums</li>
    <li>Manage self-directed projects and deadlines effectively</li>
  </ul>

  <p><b>Technology Student Association - Legend High School</b><br>
  Member, Aug 2023 – Jun 2024</p>
  <ul>
    <li>Competed in Cybersecurity, Video Game Design, and Children’s Stories events at the state level; placed second in the state in
Children’s Stories and advanced to nationals</li>
    <li>Successfully developed, led, and collaborated on multiple long-term, team-based projects</li>
    <li>Gained experience in creative problem-solving, teamwork, and meeting deadlines under pressure</li>
  </ul>

  <h2>Technical Skills</h2>
  <ul>
    <li>Microsoft Office</li>
    <li>Python</li>
    <li>C++</li>
    <li>Adobe Photoshop</li>
    <li>Adobe Illustrator</li>
  </ul>

  <body style="padding-bottom: 50px;">
  </div>

    


    <div class="container-fluid text-center fixed-bottom bg-light">
        <div class="row">
            <div class="col">
                Let's connect!
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://www.instagram.com/ellieodau/"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/ellie-odau/"><i class="fa-brands fa-square-linkedin"></i></a>
            </div>
            <div class="col">
                <a href="mailto:ellie.odau@colorado.edu"><i class="fa-regular fa-envelope"></i></a>
            </div>
        </div>
    </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/9a7e8b477d.js" crossorigin="anonymous"></script>
</body>
</html>
